<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>My To Do</strong> by <a href="https://linkedin.com/in/fellipedopradoarruda/" target="_blank">Fellipe do Prado</a>.
        </p>

        <p>
            Código feito com <a href="https://www.djangoproject.com/" target="_blank">Django</a> e
            <a href="https://bulma.io/" target="_blank">Bulma</a>.
            Imagens retiradas do site <a href="https://placeholder.com/" target="_blank">Placeholder.com</a>.
        </p>

        <p>
            O código fonte e instruções para rodar o projeto podem ser encontrados
            <a href="https://github.com/fellipedoprado/todo_django" target="_blank">aqui</a>.
        </p>
    </div>
</footer>