{% extends "model-page.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <form method="POST" action="submit">
            {% csrf_token %}
            <div class="columns is-centered is-multiline">
                <div class="column has-text-centered is-half">
                    <div class="field">
                        <div class="control">
                            <input type="number" name="id" value="{{todo.id}}" hidden>
                            <input type="text" name="task" id="task" class="input" placeholder="To Do"
                                   value="{{todo.task}}" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-centered is-multiline">
                <div class="column has-text-centered is-half">
                    <div class="field">
                        <div class="control">
                            <div class="select" style="width: 100%;">
                                <select required name="status" style="width: 100%;">
                                    <option value="" disabled {% if not todo.status %} selected {% endif %}>Status</option>
                                    {% for status in statuses %}
                                    <option value="{{status.id}}"
                                            {% if todo.status == status.id|stringformat:'s' %} "selected" {% endif %} >
                                    {{status.name|capfirst}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-centered is-multiline">
                <div class="column has-text-centered is-half">
                    <div class="field">
                        <div class="control">
                            <div class="select" style="width: 100%;">
                                <select name="priority" style="width: 100%;">
                                    <option value="" disabled {% if not todo.priority %} selected {% endif %}>Prioridade</option>
                                    {% for priority in priorities %}
                                    <option value="{{priority.id}}" {% if priority.id|stringformat:"s" == todo.priority %} selected {% endif %}>
                                    {{priority.name|capfirst}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-centered is-multiline">
                <div class="column has-text-centered is-half">
                    <div class="field">
                        <div class="control">
                            <div class="select" style="width: 100%;">
                                <select name="color" style="width: 100%;">
                                    <option value="" disabled {% if not todo.color %} selected {% endif %}>Cor</option>
                                    {% for color in colors %}
                                    <option value="{{color.id}}"
                                            {% if color.id|stringformat:"s" == todo.color %} selected {% endif %}>
                                    {{color.name|capfirst}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered is-multiline">
                <div class="column has-text-centered is-half">
                    <div class="field">
                        <div class="control">
                            <input type="date" class="input" name="due_date" value="{{todo.get_due_date}}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered is-multiline">
                <div class="column has-text-centered is-half">
                    <div class="field">
                        <div class="control">
                            <textarea name="description" class="textarea has-fixed-size" placeholder="Comentários">{{todo.description}}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column has-text-centered is-half">
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Salvar</button>
                            {% if todo %}
                                <a href="/todo/delete/{{todo.id}}" class="button is-danger">Excluir</a>
                            {% endif %}
                            <a href="/" class="button">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>

{% endblock %}
