{% extends "model-page.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for todo in todos %}
            <div class="column is-3">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{todo.task}}
                        </p>
                    </header>
                    <div class="card-content">
                        <ul class="fa-ul">
                            {% if todo.priority %}
                            <li><span class="fa-li"><i class="fas fa-exclamation"></i></span>{{todo.get_priority}}</li>
                            {% endif %}
                            {% if todo.status %}
                            <li><span class="fa-li"><i class="fas fa-check-square"></i></span>{{todo.get_status}}</li>
                            {% endif %}
                            {% if todo.due_date %}
                            <li><span class="fa-li"><i class="fas fa-calendar-day"></i></span>{{todo.due_date}}</li>
                            {% endif %}
                        </ul>
                        {% if todo.description %}
                        <br>
                        {{todo.description}}
                        <br>
                        {% endif %}
                    </div>
                    <footer class="card-footer">
                        <a href="/todo/add/?id={{todo.id}}" class="card-footer-item">Editar</a>
                        <a href="/todo/delete/{{todo.id}}" class="card-footer-item">Excluir</a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}